body {
    /* Change to Background Image */
    background-color:#D9D9D9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#div-nav {  
    text-align: center;
    cursor: pointer;
    color: black;
    border: 6px  solid white;
    border-radius: 10px;
    background-color: white;
}

#div-navbottom {  
    text-align: center;
    cursor: pointer;
    color: #9D9D9D;
    border: 5px solid white;
    border-radius: 10px;
    height: 32px;
    background-color: white;
}

#links {
    display:none;
}

.left-textcard {
    color: white;
    align-items: left;
    text-align: left;
    padding-left: 5px;
    border: 6px  solid white;
    border-radius: 10px;
    width: 45%;
    position:absolute;
    margin-left:10px;
    padding: 10px 10px 10px 10px;
}

.right-textcard {
    color: white;
    text-align: right;
    padding-right: 5px;
    border: 6px  solid white;
    border-radius: 10px;
    width: 45%;
    margin-left: auto; 
    margin-right: 0;
    position: relative;
    margin-right:10px;
    padding: 10px 10px 10px 10px;
}

img {
    position:absolute;
    height: 100%;
    width: 100%;
}

.left-image {   
    color: white;
    height: 100%;
    width: 45%;
    border: 6px solid white;
    border-radius: 10px;
    display:-webkit-box;
    margin-right: auto;
    position: absolute;
    background-color: white;
}

.right-image {
    color: white;
    height: 100%;
    width: 45%;
    border: 6px solid white;
    border-radius: 10px;
    position: absolute;
    display:flex;
    justify-self:right;
    background-color: white;
    margin-right: 10px;
}

.CardContainer {
    height: 50%;
    width: 100%;
    display: grid;
    align-items: center;
    position:relative;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Header {
    text-align: center;
}

#ovalrightcontainer {
    display: flex;
    justify-content: right;
    align-items: center;
}

.ovalleftcontainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.ovalboxleft {
    width: 25%;
    height: 325px;
    background-color: black;
    position: absolute;
    display: flex;
}

.ovalboxright {
    width: 25%;
    height: 325px;
    background-color: black;
    position: absolute;
}

.ovalleft {
    width: 50%;
    height: 325px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
}

.ovalright {
    width: 50%;
    height: 325px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footercontainer {
    height: 40px;
    width: 100%;
    background-color: white;
    border: 6px solid white;
    border-radius: 10px;
    position:fixed;
    bottom: 0;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.spacer {
    height: 55px;
    width: 99%;
}

#header {
    text-align: center;
    color: black;
    border: 5px solid white;
    border-radius: 10px;
    height: 35px;
    background-color: white; 
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 15px;
}

.lines {
    display: flex;
    justify-content: center;
}

#line1 {
    height: 5px;
    width: 55%;
    background-color: black;
}

#line2 {
    height: 25px;
    width: 5px;
    background-color: black;
}

#line3 {
    height: 25px;
    width: 5px;
    background-color: black;
}

#line4 {
    height: 40px;
    width: 5px;
    background-color: black;
    align-self: center;
}

.line {
    height: 5px;
    width: 100%;
    background-color: black;
}

.captionContainer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#video {
    color: white;
    height: 75%;
    width: 45%;
    border: 6px solid white;
    border-radius: 10px;
    background-color: white;
}